<!DOCTYPE html>
<html>
	<head>
		
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/font-awesome.min.css')}}" rel="stylesheet"> 
    <link href="{{url_for('static',filename='css/morris.css')}}" rel="stylesheet">     
    <link href="{{url_for('static',filename='css/slick.css')}}" rel="stylesheet">  
    <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/angular.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/raphael.js')}}"></script>
    <script src="{{url_for('static',filename='js/morris.min.js')}}"></script>
     <script src="{{url_for('static',filename='js/slick.min.js')}}"></script>
    <style>
    body{
        background: #333;
        padding-top:75px;
    }
        .result{
            background:#fff;
            padding:20px;
            border:1px solid #eee;
            border-radius:10px;

        }

    </style>
	</head>
	<body ng-app="dashboard">
		<div class='container slide' ng-controller='dashboardCtrl'>
        
			{%raw%}
        
			<div ng-repeat='question in questions' >
				
                <!--Questions Ouvertes-->
                <div ng-if="question.type=='open' && question.show" id="{{question.id}}" class="result">
                    <h2><i class="fa fa-question"></i>&nbsp;{{question.libelle}}</h2>
    				<table class="table table-bordered table-striped">
                        <thead><tr><th>Verbatim</th></tr></thead>
                        <tbody>
                            <tr ng-repeat="data in question.data">
                                <td>{{data.value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--Questions Single et multiples-->
                <div ng-if="question.type!='open'  && question.show" id="{{question.id}}" class="result">
                    <h2><i class="fa fa-question"></i>&nbsp;{{question.libelle}}</h2>
                    <table class="table table-bordered table-striped">
                        <thead><tr><th>Réponses</th><th>Total</th></tr></thead>
                        <tbody>
                            <tr ng-repeat="data in question.data">
                                <td>{{data.label}}</td><td>{{data.value}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <donut  values="{{question.data}}"></donut>
                </div>
			


			{%endraw%}
              </div>

	<script src="{{url_for('static',filename='js/dashboard.js')}}"></script>
	</body>
</html>