{% extends "layout.html" %}
{% block body %}
        <h2>Create Question</h2>
        {% for error in get_flashed_messages(category_filter=['error']) %}
            <p>{{ error }}</p>
        {% endfor %}
        <form action="addquestion" method="post">
            <div class="form-group">
                <label for="name">Name</label><input class='form-control' type="text" name='name' value="{{ question['name'] if question!=None else '' }}">
            </div>
            <div class="form-group">
                <label for="text">Text</label><input class='form-control' type="text" name='text' value="{{ question['text'] if question!=None else '' }}">
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <select name="type" id="questiontype" class='form-control'>
                    {% for question_type in question_types %}
                        <option value="{{ question_type['id'] }}" {{ 'selected' if question!=None and question['type']==question_type }}>{{ question_type['name'] }}</option>
                    {% endfor %}
                </select>
            </div>
            <input class="btn btn-primary" type="submit" value="Add question">
            <a class='btn btn-default' href='/'>Cancel</a>
        </form>

        
{% endblock %}