<!DOCTYPE html>
<html>
    <head>
        <title>The Feedback Box By BVA</title>
        <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    </head>
    <body style='padding-top:70px'>
        <div class='container'>
         {% block body %}{% endblock %}
        </div>
    <script src="{{url_for('static',filename='js/angular.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    </body>

</html>